body{
    text-align: center;
    color:black;
    margin: none;
}
img {
    width: 200px;
}
#isha{
    background-image: url("images/lord-shiva.jpg");
    background-size: cover;
    height: 300px;
    background-position: center;
    color: aliceblue;
    
}
.visit{
    padding-top: 50px;

}
#img{
    background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat ;
    position: relative;
    height: 300px;
    justify-content: center;
}

    .flexbox{
        display: flex;
        align-content: space-around ;
       align-content: center;
       flex-wrap: wrap;
       justify-content:space-around;
       align-items: stretch;
      
      
    }
    

#guide{
    padding: 20px;
    display: flex ;
    justify-content: space-around;
    align-content: center;
    background-color: antiquewhite;
   color: black;
    


    

}
.karthik{
    width: 400;

}

.guidee{
    text-align: center;
}